.App {
  text-align: center;

  
}
.btn-style{
  width: 30px;
}
.counter-container{
  background-color: yellow;
  display: flex;
  background-color: red;
  
  border: 2px solid black;
  padding:  20px;
  margin: 10px ;
 
}
.inner-container{
  width: 200px;
  margin: auto;
}
h1{
  font-size: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.add{
  display: flex;
  justify-content: center;
  flex-wrap: wrap !important;
  overflow: scroll;
  height: 500px;

  text-align: center;
  width: 90%;
  margin: auto;
  border: 2px solid black;
  border-radius: 6px;
  background-color:rgb(234, 230, 230);
}

/* 
media query for mobile */
@media (max-width: 767px) {
  .counter-container{
    width: 300px;
  }
  .add{
    height: 700px;
  }
}